<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phone directory</title>
    <link href="def.css" rel="stylesheet" type="text/css"></head>
<body>
{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/def.css')}}">
<h3 class="my-title">Users</h3>
<table class="my-table">
  <tr>
    <th> Id </th>
    <th> Name </th>
    <th> Surname </th>
    <th> Telephone </th>
  </tr>
  {% for user in users %}
  <tr id="tr-users">
    {% for data in user.values() %}
      <td>
          {{ data }}
      </td>
    {% endfor %}
      <td>
            <form action="/users/{{user['id']}}" method="get">
                <button id="bt-view">View</button>
            </form>
      </td>
  </tr>
  {% endfor %}
</table>
<form action="/" method="get">
     <button class="my-bt">Home</button>
</form>
 {% endblock %}
</body>
</html>